.rankName{
    font-size: 1.5em;
    padding-top: 50px;
    color: #2a3b30;
    font-weight: bold;
    margin: 0;
}
.rankNbr{
    font-size: 1.5em;
    color: #2a3b30;
}

@media screen and (max-width: 600px) {
    .rankNbr{
        font-size: 1.2em;
    }   
}