/* COLORS:
#7cbc57 light green
#2a3b30 dark green 
#ecf1f1 grey

*/

.navCont{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #7cbc57;
    color: #2a3b30;
}
.navSignOut{
   margin-right: 2em; 
   margin-left: 2em;
   cursor: pointer;
   justify-self: flex-end;
}
.navSignOut:hover{
    transition: .4;
    transform: scale(1.2);
}
.logo{
    width: 40vw;
    margin-top: 20px;
}
@media screen and (max-width: 600px) {
    .logo{
        width: 80vw;
    }
}
.logoCont{
    display: flex;
    justify-content: flex-end;
}
.logoIcon{
    margin-left: 2em;
    margin-top: .5em;
    width: auto;
    height: 40px;
    justify-self: flex-start;
}